@import "./variables";
@import "./breakpoints";
@import "./mixins";

.showlist-container {
  @include md {
    max-width: $screen-lg-min;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto;
  }

  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0;
  overflow: hidden;
  overflow-y: hidden;
}


.container {
  display: flex;
  flex-direction: row;

  @include md {
    max-width: $screen-lg-min;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    margin: 0 auto;
  }

  .image-wrapper {
    background-color: white;
    flex: 1 0 10%; //for small screen, make image smaller

    @include md {
      flex: 0 1 auto;
    }

    img {
      max-width: 100%;
      max-height: 300px;
      float: left;
    }
  }

  .text-wrapper {
    margin: 0 auto;
    flex: 1 0 0%;
    padding-left: 10px;
    margin: auto 0;

    @include md {
      align-self: left;
      flex: 4 0 0%;
      align-content: flex-start;
    }

    .title {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: bolder;
      padding-bottom: 20px;

      @include md {
        font-size: 1.7rem;
      }
    }

    .details {
      font-size: 1rem;

      @include md {
        font-size: 1.2rem;
      }
    }
  }
}

.description {
  max-width: $screen-lg-min;
  margin: 0 auto;
  font-size: 1rem;
  text-align: left;
  display: block;
  padding-top: 20px;

  @include md {
    font-size: 1.2rem;
  }
}