// $colors: (textColor: white,
//   mainColor: red,
//   backgroundColor:black,
// );
$textColor: white;
$mainColor: red;
$backgroundColor: #111;

@mixin border($maicolor) {
  border: 1px solid map-get($colors, backgroundColor);
  box-shadow: 0 0 8px 2px rgb(231, 231, 231);
}

@mixin flexCenter($direction) {
  height: 100vh;
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}