@import "./variables";
@import "./breakpoints";
@import "./mixins";
@import "./Show";
@import "./EpisodeList";
@import "./EpisodeDetails";
@import "./NavBar";
@import "./SearchBox";

body {
  @include sm {
    font-size: 1.3rem;

  }

  @include md {
    // background-color: red;
  }

  @include lg {
    // font-size: 1.7rem;
    // background-color: purple;

  }


  flex-wrap: wrap;
  width: auto !important;
  overflow-x: hidden !important;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  font-family:'Gotham-Book',
  'Helvetica Neue',
  'Helvetica',
  'Arial',
  'sans-serif';
  font-size: 1.5rem;
  color:hsla(0, 0%, 100%, .7);
  background-color: $backgroundColor;
  letter-spacing: -.25px;
  line-height: 1.4;

  a {
    color: $textColor;

    &:hover {
      color: $mainColor;
    }

    text-decoration: solid;
  }

  .active-link {
    color: $mainColor;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .suggestion:hover {
    background-color: $mainColor;
  }

  .header {
    font-size: 1.4rem;
    font-weight: bolder;
    display: flex;
    justify-content: flex-start;


    @include md {
      max-width: $screen-lg-min;
      display: flex;
      font-size: 1.7rem;
      justify-content: flex-start;
      margin: 0 auto;
    }


  }
}