.showlist-container {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 50px;
  overflow: hidden;
  overflow-y: hidden;
}

@media (min-width: 768px) {
  .showlist-container {
    max-width: 992px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0 auto;
  }
}

.show-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 50px;
}

@media (min-width: 768px) {
  .show-container {
    max-width: 992px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 0 auto;
  }
}

.show-container .image-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 10%;
          flex: 1 0 10%;
}

@media (min-width: 768px) {
  .show-container .image-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.show-container .image-wrapper img {
  max-width: 100%;
  max-height: 300px;
  float: left;
}

.show-container .text-wrapper {
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  padding-left: 10px;
  margin: auto 0;
}

@media (min-width: 768px) {
  .show-container .text-wrapper {
    -ms-flex-item-align: left;
        -ms-grid-row-align: left;
        align-self: left;
    -webkit-box-flex: 4;
        -ms-flex: 4 0 0%;
            flex: 4 0 0%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}

.show-container .text-wrapper .title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bolder;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .show-container .text-wrapper .title {
    font-size: 1.7rem;
  }
}

.show-container .text-wrapper .details {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .show-container .text-wrapper .details {
    font-size: 1.2rem;
  }
}

.description {
  max-width: 992px;
  margin: 0 auto;
  font-size: 1rem;
  text-align: left;
  display: block;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .description {
    font-size: 1.2rem;
  }
}

.loadingMsg {
  margin-top: 20px;
  font-size: 2rem;
}

.season-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}

@media (min-width: 768px) {
  .season-container {
    max-width: 992px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto;
  }
}

.season-container .season-wrapper {
  margin: 0 auto;
  width: 70px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .season-container .season-wrapper {
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 150px;
  }
}

.season-container .season-wrapper .season-number p {
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .season-container .season-wrapper .season-number p {
    font-size: 1.2rem;
  }
}

.season-container .season-wrapper .season-number:hover {
  -webkit-text-decoration: solid;
          text-decoration: solid;
  background-color: red;
  border-radius: 0.3rem;
}

.season-container .season-wrapper .season-number:active {
  color: white;
  font-weight: bolder;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  background-color: grey;
}

.season-container .episode-wrapper {
  padding-top: 14px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 10%;
          flex: 1 0 10%;
}

@media (min-width: 768px) {
  .season-container .episode-wrapper {
    max-width: 992px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    padding-top: 17px;
  }
}

.season-container .episode-wrapper .info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.season-container .episode-wrapper .showTitle {
  font-size: 1rem;
  font-weight: bold;
  padding: 2px;
  float: left;
  width: 250px;
  text-align: left;
}

@media (min-width: 768px) {
  .season-container .episode-wrapper .showTitle {
    width: 800px;
    font-size: 1.1rem;
    padding-bottom: 10px;
  }
}

.episode-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  padding-top: 50px;
}

@media (min-width: 768px) {
  .episode-container {
    max-width: 992px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 auto;
    padding-top: 50px;
  }
}

.episode-container .episode-title {
  font-size: 1.2rem;
  font-weight: bolder;
  padding-top: 30px;
  text-align: center;
}

@media (min-width: 768px) {
  .episode-container .episode-title {
    max-width: 992px;
    font-size: 1.1rem;
    padding-top: 50px;
    padding-bottom: 10px;
    -ms-flex-item-align: left;
        -ms-grid-row-align: left;
        align-self: left;
    -webkit-box-flex: 4;
        -ms-flex: 4 0 0%;
            flex: 4 0 0%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}

.episode-container .episode-image-wrapper {
  padding: 20px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  margin: 0 auto;
}

.episode-container .episode-image-wrapper:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.episode-container .episode-summary {
  font-size: 1.2rem;
}

.episode-container .episode-summary em {
  color: grey;
}

.topnav {
  float: none;
  overflow: hidden;
}

@media (min-width: 768px) {
  .topnav {
    max-width: 992px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
}

.topnav .link {
  float: left;
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bolder;
}

.topnav .link:hover {
  color: red;
}

.topnav .link:active {
  background-color: #2196f3;
  color: white;
}

.search-container {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.search-container button {
  cursor: pointer;
}

.search-container button:hover {
  color: red;
}

body {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: auto !important;
  overflow-x: hidden !important;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: 'Gotham-Book', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: #111;
  letter-spacing: -.25px;
  line-height: 1.4;
}

@media (min-width: 576px) {
  body {
    font-size: 1.3rem;
  }
}

body a {
  color: white;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

body a:hover {
  color: red;
}

body .active-link {
  color: red;
}

body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body .suggestion:hover {
  background-color: red;
}

body .header {
  font-size: 1.4rem;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 768px) {
  body .header {
    max-width: 992px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.7rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=styles.css.map */