@import "./variables";
@import "./Show";
@import "./Header";
@import "./breakpoints";
@import "./mixins";


body {
  @include sm {
    font-size: 1.3rem;
    // overflow: hidden;
    // background-color: purple;

  }

  @include md {
    // background-color: red;
  }
  @include lg {
    // font-size: 1.7rem;
    // background-color: purple;

  }
  // @media screen and (min-width: 601px) {
  // }

  

  // @media screen and (max-width: 600px) {
  //   font-size: 1em;
  // }

  flex-wrap: wrap;
  width: 100vw;
  max-width: 1200px;

  margin: 0 auto;
  padding: 20px;
  text-align: center;

  font-family:'Gotham-Book','Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 1.5rem;
  color:hsla(0,0%,100%,.7);
  background-color: $backgroundColor;
  letter-spacing: -.25px;
  line-height: 1.4;

  a {
    color: $textColor;

    &:hover {
      color: $mainColor;
    }

    text-decoration: solid;
  }

  .active-link {
    color: $mainColor;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .suggestion:hover {
    background-color: $mainColor;
  }
}